@media only screen and (max-width: 430px){
    #content {
        margin-left: 0px;
        margin-right: 0px;
    }
    /* banner */
    .banner-info .name {
        font-weight: 3 00;
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
    }
    /* nav-bar */
    .nav-bar-group {
        grid-template-columns: auto;
        font-size: 14px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: start;
    }
    .nav-bar {
        padding: 8px 8px;
        border: none !important;
    }
    .nav-bar-info {
        grid-area: 1 / 1;
        padding: 0px 30px;
    }
    .nav-bar-background {
        grid-area: 2 / 1;
        padding: 0px 30px;
    }
    .nav-bar-certificate {
        grid-area: 3 / 1;
        padding: 0px 30px;
    }
    .nav-bar-project {
        grid-area: 4 / 1;
        padding: 0px 30px;
    }

    /* thong tin ca nhan */
    .per-info-group {
        grid-template-columns: auto;
    }
    .per-info-goal {
        padding-bottom: 60px;
    }
    .nav-bar-group i{
        color: #199CDB;
    }
    .per-info-goal p{
        color: gray;
    }
    .per-info p{
        color: gray;
    }

    /* thong tin nghe nghiep */
    .job-info-group {
        grid-template-columns: auto;
        padding: 0;
        margin: 0;
    }

    /* chung chi */
    .achievement{
        margin-top: 10px;
        padding-top: 40px;
    }
    .achiev{
        text-align: center;
    }
    .achievement .content {
        padding-left: 0px;
        padding-top: 0px;
    }
    .achievement-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    /* project */
    .project .content {
        margin: 0;
        padding: 0;
    }
    .project .content h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .project .project-container {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    .project-item img {
        width: 100% !important;
        border: 1px solid black;
    }
    .project .project-item {
        margin-bottom: 10px;
    }

    /* Lien he */
    .contact .contact-info {
        margin-right: 0px;
    }
    .contact {
        justify-content: space-around;
    }

}